<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <style>
        input#tweet {
            width: 80%; 
            padding: 10px; 
            margin-top: 10px; 
        }
        button {
            padding: 10px 20px; 
            cursor: pointer;
        }
    </style>
</head>
<body>
	<h1>Mantas Macionis / C00242178 / LSTM RNN example</h1>
    <h2>Classify if a tweet is positive or negative</h2>
    <form action="/" method="post">
        <label for="tweet">Enter a tweet:</label><br>
        <input type="text" id="tweet" name="tweet" placeholder="Type a tweet here..." required><br><br>
        <button type="submit">Analyze Sentiment</button>
    </form>
    {% if sentiment %}
        <h2>Sentiment of the tweet:</h2>
        <p>{{ sentiment }}</p>
        <p><strong>Tweet:</strong> "{{ tweet }}"</p>
    {% endif %}
</body>
</html>

